#map {
    position: absolute;
    width: 99vw;
    height: 99vh;
}

.leaflet-control-layers-expanded {
    display: block;
    background-color: #c43c3c;
}

.leaflet-control-layers label {
    display: block;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

#attributionButton {
    position: absolute;
    top: 109px;
    right: 10px;
    padding: 10px;
    z-index: 500;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	background: #fff;
	border-radius: 5px;
	}
